/* src/App.css */
.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e6;
  position: relative;
  margin: 0;
  padding: 0 1rem;
}

.language-dropdown {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 6px;
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.remaining-days {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #555;
}

.app-paragraph {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.beer-button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #f0c34e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.beer-button:hover:not(:disabled) {
  background-color: #e2b13d;
}

.beer-button:active:not(:disabled) {
  background-color: #cf9f2c;
}

.beer-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
